# ===== Eclipse =====
.project
.classpath
.settings/

# ===== Maven =====
/target/

# ===== Compiled files =====
*.class

# ===== Logs =====
*.log

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Environment files =====
.env

